import tkinter as tk

class MyGUI():
    window = tk.Tk()
    window.title('使用說明')
    
    frame1 = tk.Frame(window) 
    frame1.grid(row=0, column=0, sticky='w') 
    tk.Label(frame1, text = '1.上https://developers.facebook.com/docs/graph-api?locale=zh_TW 註冊,並登入自己的fb').pack(side='left')
    
    
    
    frame2 = tk.Frame(window)
    frame2.grid(row=1, column=0, sticky='w')
    tk.Label(frame2, text = '2.取得權杖後打勾以下項目: user_hometown, user_posts, user_likes').pack(side='left')
    
    
    
    frame3 = tk.Frame(window)
    frame3.grid(row=2, column=0, sticky='nw')
    tk.Label(frame3, text = '3.先輸入第一個人的id和access token,再輸入第二個人的 id和access token(by api網站登入的2個人的資料)').pack(side='left')
    
    
    window.mainloop()

MyGUI()

import requests
import json


def appenddata(d):
    """
    把使用者資料匯成一個list
    """
    if user_counter == 0:
        info["GUY1"].append(d)

    else:
        info["GUY2"].append(d)

def printer(y):
    for i in range(4):
        if i == 3:
            for t in range(len(info[y][3])):
                print(info[y][3][t]["name"], info[y][3][t]["created_time"])

        elif i == 2:
            for t in range(len(info[y][2])):
                if "message" in info[y][2][t]:
                    print(info[y][2][t]["message"], info[y][2][t]["created_time"])

        else:
            print(info[y][i])

    print("____________________________________________________________________________________________________________")

info = dict()
info["GUY1"] = []
info["GUY2"] = []
user_counter = 0

while user_counter <=1:
    """
	讓使用者input其id和access token
    """
    id = input("please enter your id").strip()   #輸入id
    access_token = input("please enter your access token") .strip()  #輸入access token 取得token 時須取得name hometown likes posts之權限
    url_model = "https://graph.facebook.com/v2.9/iidd?fields=xxxxx&access_token=" + access_token  #網址模板
    url = url_model.replace("iidd", id)   #網址
    fields = ["name","hometown", "posts","likes"]

    for f in fields:
        """
        爬下使用者的資料(包括 : 名子, 家鄉, 貼文內容, 按過讚的粉專)
        匯到 info 這個 dictionary
        兩個人的資料會分別匯到 GUY1 和 GUY2 兩個 list
        """	
        initial_url = url.replace("xxxxx", f)
        response = requests.get(initial_url)
        if f == "name" or f == "hometown":
            html = json.loads(response.text)
            if f in html:
                appenddata(html[f])
            else:
                appenddata("None")

        else:
            html = json.loads(response.text)
            page_counter = 0
            appenddata(html[f]["data"])

            while True:
                if page_counter < 1:
                    sub_url = html[f]["paging"]["next"]
                    response = requests.get(sub_url)
                    html = json.loads(response.text)
                    page_counter += 1

                    if "next" in html :
                        appenddata(html["data"])

                    else:
                        break


                elif page_counter >= 1:
                    sub_url = html["paging"]["next"]
                    response = requests.get(sub_url)
                    html = json.loads(response.text)
                    page_counter += 1

                    if "next" in html:
                        appenddata(html["data"])

                    else:
                        break


    user_counter += 1

printer("GUY1")
printer("GUY2")
print(info)
