# Auto detect text files and perform LF normalization
* text=auto
print("Hihihi")
你好
123
嗨嗨
我再刷一次存在感
"""題目為
早安 你好
你願意當我朋友嗎 ？"""
# 封面圖試做 https://imgur.com/gallery/SovzAXG
ㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏㄏ
